@use '../../styles/colors';
@import 'react-image-crop/dist/ReactCrop.css';

.datas {
    display: flex;
    flex-direction: column;

    .borderedLineData {
        border-bottom: 1px solid #4C546F;
        margin: 6px 0;
    }

    .lineData {
        padding: 0 0 10px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .opacity {
            color: #9898B0;
        }

        span {
            font-size: 17px;

            &:nth-child(2) {
                width: 300px;
                text-align: end;
            }
        }
    }

    .passwordForVer {
        margin-top: 20px;
    }

    .error {
        margin-top: 20px;

        span {
            height: 19px;
            transition: .3s ease-in-out;
            color: red;
        }
    }

    .links {
        margin-top: 35px;
        width: 100%;
        display: flex;
        align-items: stretch;

        button {
            background-color: colors.$link-text;
        }
    }
}